@media @mobile-widths-only {


.order-form {

  &__wrapper {
    position: relative;
    .container();
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: @font-size-medium;
    line-height: @line-height-tiny;
    font-weight: 700;
    text-transform: uppercase;
    color: @color-main;

    &::after {
      position: absolute;
      top: 50%;
      left: 60px;
      content: "";
      width: 200px;
      height: 1px;
      background-color: @color-main;
    }
  }

  &__radios {
    padding-top: 51px;
  }

  &__radio {
    display: none;
  }

  &__group {
    padding-left: 64px;
    margin-bottom: 22px;

    &--last {
      margin-bottom: 50px;
    }

    &--margin {
      margin-bottom: 52px;
    }

    &--inputs {
      padding-left: 0;
    }

    &--padding {
      padding-left: 0;
      padding-top: 50px;
    }
  }

  &__label {
    position: relative;
    display: block;
    font-size: @font-size-medium;
    line-height: @line-height-tiny;
    color: @color-black;
    font-weight: 700;

    &--radio {
      &::before {
        position: absolute;
        top: -7px;
        left: -64px;
        content: "";
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 2px solid @color-black;
      }

      &::after {
        display: none;
        position: absolute;
        top: 5px;
        left: -52px;
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: @color-main;
      }
    }

    &--checkbox {
      &::before {
        position: absolute;
        top: -7px;
        left: -64px;
        content: "";
        width: 36px;
        height: 36px;
        border: 2px solid @color-black;
      }

      &::after {
        display: none;
        position: absolute;
        top: 0;
        left: -58px;
        content: "";
        width: 32.666px;
        height: 22.742px;
        border-radius: 50%;
        background-image: data-uri('image/svg+xml;charset=UTF-8',"../img/icon-tick.svg");
      }
    }
  }

  input[type=radio]:checked + &__label--radio::after {
    display: block;
  }

  input[type=checkbox]:checked + &__label--checkbox::after {
    display: block;
  }


  &__checkbox {
    display: none;
  }

  &__checkboxes {
    padding-top: 51px;
  }

  &__inputs {
    padding-top: 52px;
    margin-bottom: 32px;
  }

  &__input {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 0;
    outline: none;
    border-bottom: 2px solid @color-black;
    opacity: 1;

    &--padding {
      padding-top: 42px;
    }

    &--tel {
       background-image: data-uri('image/svg+xml;charset=UTF-8',"../img/icon-phone.svg");
       background-repeat: no-repeat;
       background-position: 96% 70%;
       opacity: 0.2;
     }

    &--email {
      background-image: data-uri('image/svg+xml;charset=UTF-8',"../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 96% 77%;
      opacity: 0.2;
    }
  }

  &__textarea {
    box-sizing: border-box;
    resize: none;
    width: 260px;
    height: 150px;
    padding: 16px;
    border: 2px solid @color-black;
    vertical-align: top;
  }

  &__button {
    margin-top: 52px;
    margin-bottom: 58px;
    width: 100%;
    background-color: transparent;
  }

  &__requirement {
    display: none;
  }
}
}

@media @tablet-widths {
  .order-form {
    &__wrapper {
      position: relative;
      .container();
    }

    &__section {
      padding-top: 60px;
      padding-bottom: 60px;

      &--white {
        background-color: @color-white;
      }

      &--grey {
        background-color: @color-bg-section;
      }

      &--pt {
        padding-top: 0;
        padding-bottom: 25px;
      }

      &--pb {
        padding-bottom: 0;
      }
    }

    &__title {
      position: absolute;
      top: 0;
      left: 0;
      font-size: @font-size-medium;
      line-height: @line-height-form-heading;
      font-weight: 700;
      text-transform: uppercase;
      color: @color-main;
    }

    &__radios,
    &__checkboxes,
    &__inputs,
    &__contacts {
      padding-left: 167px;
    }

    &__radio,
    &__checkbox {
      display: none;
    }

    &__label {
      position: relative;
      display: block;
      font-size: @font-size-medium;
      line-height: @line-height-tiny;
      color: @color-black;
      font-weight: 700;


      &--radio {
        padding-left: 80px;
        margin-bottom: 50px;

        &:hover::before {
          border-color: @color-main;
        }

        &:active::before {
          border-color: @color-grey-border;
        }

        &::before {
          position: absolute;
          top: -15px;
          left: 0;
          content: "";
          width: 48px;
          height: 48px;
          border-radius: 50%;
          border: 2px solid @color-black;
        }

        &::after {
          display: none;
          position: absolute;
          top: 0;
          left: 16px;
          content: "";
          width: 21px;
          height: 21px;
          border-radius: 50%;
          background-color: @color-main;
        }
      }

      &--checkbox {
        padding-left: 18px;

        &:hover::before {
          border-color: @color-main;
        }

        &:active::before {
          border-color: @color-grey-border;
        }

        &::before {
          position: absolute;
          top: -15px;
          left: -64px;
          content: "";
          width: 48px;
          height: 48px;
          border: 2px solid @color-black;
        }

        &::after {
          display: none;
          position: absolute;
          top: 0;
          left: -53px;
          content: "";
          width: 32.666px;
          height: 22.742px;
          border-radius: 50%;
          background-image: data-uri('image/svg+xml;charset=UTF-8',"../img/icon-tick.svg");
        }
      }

      &--last {
        margin-bottom: 0;
      }

      &--padding {
        padding-right: 25px;
      }

      &--flexstart {
        align-self: flex-start;
      }
    }

    input[type=radio]:checked + &__label--radio::after {
      display: block;
    }

    input[type=checkbox]:checked + &__label--checkbox::after {
      display: block;
    }

    &__checkboxes {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
    }

    &__group {
      &--margin {
        width: 218px;
        margin-bottom: 50px;
      }

      &--nomargin {
        margin-bottom: 0;
      }

      &--inputs {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        box-sizing: border-box;
        height: 76px;
      }

      &--flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__input {
      width: 100%;
      padding-bottom: 16px;
      border: 0;
      outline: none;
      border-bottom: 2px solid @color-black;
      opacity: 1;
      background-color: transparent;

      &:hover {
        border-color: @color-main;
      }

      &:active {
        border-color: @color-main;
      }

      &:valid {
        border-color: @color-main
      }

      &:invalid {
        border-color: @input-error;
      }

      &--flexstart {
        align-self: flex-start;
      }

      &--tel {
        background-image: data-uri('image/svg+xml;charset=UTF-8',"../img/icon-phone.svg");
        background-repeat: no-repeat;
        background-position: 96% 70%;
      }

      &--email {
        background-image: data-uri('image/svg+xml;charset=UTF-8',"../img/icon-mail.svg");
        background-repeat: no-repeat;
        background-position: 96% 77%;
      }
    }

    &__textarea {
      box-sizing: border-box;
      resize: none;
      width: 100%;
      height: 150px;
      padding: 16px;
      border: 2px solid @color-black;
      vertical-align: top;
      outline: none;

      &:hover {
        border-color: @color-main;
      }

      &:active {
        border-color: @color-main;
      }

      &:valid {
        border-color: @color-main
      }

      &:invalid {
        border-color: @input-error;
      }
    }

    &__button {
      width: 230px;
      background-color: transparent;
    }

    &__requirement {
      font-size: @font-size-medium;
      line-height: @line-height-medium;
    }

  }
}

@media @desktop-widths {
  .order-form {
    &__radios,
    &__inputs,
    &__contacts {
      padding-left: 175px;
      padding-right: 175px;
    }

    &__checkboxes {
      padding-left: 188px;
    }

    &__group {
      &--margin {
        width: 220px;
        margin-bottom: 50px;
      }

      &--nomargin {
        margin-bottom: 0;
      }

      &--desk {
        margin-bottom: 0;
      }
    }

    &__checkboxes {
      justify-content: space-evenly;
    }

    &__group {
      &--flex {
        padding-left: 175px;
        padding-right: 175px;
      }
    }
  }
}

