.order-list {

  &__wrapper {
    .container();
  }

  &__heading {
    font-size: @font-size-small;
    line-height: @line-height-small;
    margin-bottom: 25px;
  }
}

@media @tablet-widths {
  .order-list {
    &__heading {
      font-size: @line-height-form-heading;
      line-height: @line-height-medium;
    }
  }
}
