.popup-offer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 260px;
  height: 306px;
  margin-top: -168px;
  margin-left: -160px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: @color-white;
  border-top: 1px solid @color-grey-border;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);

  &--show {
    display: block;
  }

  input[type="radio"] {
    display: none;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: @font-size-heading-mobile;
    line-height: @line-height-heading-mobile;
    text-align: center;
    color: @color-black;
    text-transform: uppercase;
  }

  &__form-title {
    margin-bottom: 23px;
    font-size: @font-size-popup;
    line-height: @line-height-medium;
    text-align: center;
  }

  &__field-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__text {
    display: block;
    width: 78px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: @font-size-popup;
    line-height: @line-height-tiny;
    text-align: center;
    border: 2px solid @color-grey-border;
    cursor: pointer;

    &:hover {
      border-color: @color-grey-border;
    }
  }

  input[type="radio"]:checked + &__text {
    border-color: @color-main;
  }

  &__submit {
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    font-weight: 700;
    font-size: @font-size-popup;
    line-height: @line-height-tiny;
    color: @color-white;
    text-transform: uppercase;
    background-color: @color-main;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: @popup-hover;
    }
  }
}

@media @mobile-widths-only {
  .popup-offer {
    left: 50%;
  }
}

@media @tablet-widths {
  .popup-offer {
    width: 350px;
    height: 302px;
    margin-left: -284px;
    padding-top: 34px;
    padding-right: 108px;
    padding-left: 108px;
    border: 1px solid @color-grey-border;

    &__heading {
      margin-bottom: 15px;
      font-size: @font-size-heading-popup;
      line-height: @line-height-heading-desktop;
    }

    &__form-title {
      margin-bottom: 21px;
      font-size: @font-size-popup;
      line-height: @line-height-tiny;
    }

    &__text {
      width: 108px;
    }
  }
}
