.process {
  &__container {
    .container();
    border: 1px solid @color-grey-border;
  }

  &__heading {
    position: relative;
    margin: 0;
    padding-top: 23px;
    padding-left: 90px;
    margin-bottom: 26px;
    font-size: @font-size-medium;
    line-height: @line-height-small;
    font-family: @font-family-heading;
    font-weight: 700;
    color: @color-black;

    &::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 32px;
      top: 30px;
      left: 34px;
      background-image: url("../img/icon-video.svg");
    }
  }

  &__img {
    position: relative;
  }

  &__image {
    vertical-align: top;
  }

  &__video-btn {
    position: absolute;
    width: 100.678px;
    height: 76.891px;
    padding: 0;
    top: 40px;
    left: 80px;
    border: 0;
    outline: none;
    background-color: transparent;
    background-image: url("../img/icon-play.svg");
  }

  &__text {
    font-size: @font-size-small;
    line-height: @line-height-small;
    margin-bottom: 26px;
  }

  &__description {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-top: 26px;
  }
}

@media @tablet-widths {
  .process {
    margin-bottom: 64px;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__heading {
      padding-top: 46px;
      padding-left: 106px;
      margin-bottom: 30px;
      order: 2;
      font-size: @font-size-big;

      &::before {
        top: 39px;
        left: 42px;
      }
    }

    &__img {
      order: 1;
    }

    &__video-btn {
      top: 195px;
      left: 284px;
    }

    &__description {
      padding-top: 0;
      padding-bottom: 42px;
      order: 3;
    }

    &__text {
      margin-bottom: 36px;
      font-size: @font-size-medium;
      line-height: @line-height-medium;
    }
  }
}

@media @desktop-widths {
  .process {
    margin-bottom: 105px;

    &__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: flex-start;
      position: relative;
      box-sizing: border-box;
      min-height: 455px;
      padding-right: 51px;
    }

    &__heading {
      width: 150px;
      padding-top: 96px;
      padding-left: 0;
      margin-right: 88px;

      &::before {
        top: 46px;
        left: 0;
      }
    }

    &__description {
      padding-left: 0;
      padding-bottom: 0;
      padding-right: 0;
    }

    &__text {
      width: 238px;
      margin-bottom: 50px;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
