.main-navigation {
  position: relative;

  &__toggler {
    position: absolute;
    padding: 0;
    top: -48px;
    right: 28px;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0;
  }

  &__list {
    width: 100%;
    position: absolute;
    top: 0;
  }

  &--closed &__list {
   display: none;
 }

 &--opened &__list {
   display: block;

 }

  &--opened &__toggler:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 22px;
    height: 2px;
    background-color: @color-black;
    transform: rotate(45deg);
  }

  &--opened &__toggler::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 22px;
    height: 2px;
    background: @color-black;
    transform: rotate(-45deg);
  }

  &--closed &__toggler::before {
   content: "";
   position: absolute;
   top: 2px;
   left: 0;
   width: 20px;
   height: 2px;
   background: @color-black;
   box-shadow: 0 6.5px 0 0 @color-black,
               0 13px 0 0 @color-black;
 }

  &--nojs &__toggler {
    display: none;
  }

  &__item {
    border-top: 1px solid @color-grey-border;
    &--hidden {
      display: none;
    }
  }

  &__link {
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 76px;
    font-size: @font-size-medium;
    line-height: @line-height-small;
    font-weight: 700;
    text-align: left;
    color: @color-black;
    background-color: @color-white;
  }

  &__search {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 32px;
      width: 17.6px;
      height: 17.6px;
      background-color: transparent;
      background-image: url("../img/icon-search.svg");
      background-repeat: no-repeat;
      opacity: 0.2;
    }
  }

  &__search-field {
    display: none;
  }

  &__cart {
    position: relative;
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 76px;
    font-size: @font-size-medium;
    line-height: @line-height-small;
    font-weight: 700;
    text-align: left;
    color: @color-black;
    border-bottom: 1px solid @color-grey-border;
    background-color: @color-white;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 32px;
      width: 20.294px;
      height: 18.849px;
      background-color: transparent;
      background-image: url("../img/icon-cart.svg");
      background-repeat: no-repeat;
      opacity: 0.2;
    }
  }

  &__delivery {
    &--hidden {
      display: none;
    }
  }
}
